
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$twitch-purple: #6441a4;
$white: #eeeeee;

body {
  background: $twitch-purple;
}

.container {
  max-width: 95%;
  margin: 2rem auto;
}

.logo {
  margin: 0 auto;
  max-width: 300px;
}

.filters {
  margin: 2rem auto;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  button {
    flex: 1 1 33%;
    height: 3.5rem;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 2px;
    color: $white;
    background: ($twitch-purple - 10);
    &.selected {
      background: ($twitch-purple - 20);
    }
    &:nth-child(2) {
      margin: 0 0.2rem;
    }
  }
}